<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<meta charset="UTF-8"/>
    <title>Ver imagenes</title>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.mi.js"></script>     
	
</head>
<body>
	
  <% recipes.forEach(function(recipe) { %>
        <li><%= recipe.name %> </li>
    <% }); %>
	
  <h1>Pagina para ver las imagenes</h1>

	
</body>
</html>