<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MUPI</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/simple-sidebar.css">
	<script src="js/jquery-3.1.0.min.js"></script>	
	<script src="js/bootstrap.mi.js"></script>
</head>
<body>
	<!-- *************************** Menu  *****************************-->
	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#" id="principal">Subir Imagen</a>
                </li>
                <li>
                    <a href="#" id="vimagenes">Ver imagenes</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" id="fer">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    
    <!-- /#wrapper -->
    <!--
	<button type="submit" class="btn btn-primary" id="boton1">Mostrar</button>
	<br>

	 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  
		  <ol class="carousel-indicators"></ol>
		  
		  <div class="carousel-inner"></div>
		  
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
	 </div>
	-->
	<script>
	    $(document).ready(function () {
	        //$('.myCarousel').carousel()

	        $('#boton1').click(function (){
	        	console.log("Presionando boton!!");
	        	for(var i=1 ; i< 4 ; i++) {
			    	$('<div class="item"><img src="iSubidas/a'+i+'.jpg"><div class="carousel-caption"></div>   </div>').appendTo('.carousel-inner');
			    	$('<li data-target="#carousel-example-generic" data-slide-to="'+i+'"></li>').appendTo('.carousel-indicators')

			  	}
			  	$('.item').first().addClass('active');
			  	$('.carousel-indicators > li').first().addClass('active');
			  	$('#carousel-example-generic').carousel();
	        });
	        $("#principal").click(function(){
            	console.log("hice click en Dashboard....");
            	//$("#fer").load('/up');
            	 $.get("/up", function(htmlexterno){
   					$("#fer").html(htmlexterno);
    			 });
        	});
        	$("#vimagenes").click(function(){
            	console.log("hice click en Ver imagenes....");
            	$("#fer").load('/imagenes');
        	});
        	$("#menu-toggle").click(function(e) {
            	e.preventDefault();
            	$("#wrapper").toggleClass("toggled");
        	});

	    });

	</script>

	
</body>

</html>