<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<meta charset="UTF-8"/>
    <title>Subiendo archivo...</title>

	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="../css/fileinput.css" media="all" rel="stylesheet" type="text/css" />    
    <script src="../js/fileinput.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    
	
</head>
<body>
  	<h1><%=title%></h1>
  	<br>
    
    <form class="form-horizontal" action="/carga2" method="POST">
         <div class="form-group">
             <label for="inputName" class="control-label col-xs-2">Nombre:</label>
             <div class="col-xs-5">
                 <input type="name" class="form-control" placeholder="Nombre" id="txtnombre">
                 <span class="help-block">Nombre con el que se identificara la publicidad.</span>
             </div>
         </div>
         <div class="form-group">
             <label for="inputEmail" class="control-label col-xs-2">Frase:</label>
             <div class="col-xs-10">
                 <input type="name" class="form-control" placeholder="Frase corta" id="txtfrase">
                 <span class="help-block">Frase de la imagen (opcional).</span>
             </div>
         </div>
         <div class="form-group">
             <label for="inputPassword" class="control-label col-xs-2">Imagen:</label>
             <div class="col-xs-10">
                 <input id="input-704" name="miarchivo" type="file" multiple=true class="file-loading">
                 <span class="help-block">Selecciona un archivo para subir al servidor</span>
             </div>
         </div>
         <div class="form-group">
             <div class="col-xs-offset-2 col-xs-10">
                 <button type="submit" class="btn btn-primary" id="btnregistrar">Registrar</button>
             </div>
         </div>
    </form>
    
    <script>
      //var socket = io.connect('http://'+ location.host);
      var file;
      var FReader;
      var nombreArchivo;
      $("#input-704").fileinput({          
          showUpload: true,
          showRemove: true,
          uploadUrl: "/carga2",
          uploadAsync: false,
          minFileCount: 1,
          maxFileCount: 5,
          initialPreviewAsData: true // identify if you are sending preview data only and not the markup
      });   
      
      $('#input-704').on('change',function(e) {          
          file = e.originalEvent.target.files[0];
          nombreArchivo = file.name;
          console.log("Archivo cambio...."+file);
      });
      $('#btnregistrar').click(function(){
          var nombre = $('#txtnombre').val();
          var frasee = $('#txtfrase').val();
          var archivoN = file.name;
          var archivoP = file.path;
          console.log("Datos::: "+nombre+"___"+frasee+"___"+nombreArchivo+"___"+archivoN+"___"+file.path);
          $.get("/carga2", {coche: nombre, modelo: frasee, color: nombreArchivo}, function(htmlexterno){
            console.log("Datos enviados para registrar en BD");
          });
      });
    </script>

  	<script src="js/jquery-3.1.0.min.js"></script>
  	<script src="js/bootstrap.mi.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  	<!-- <script src="http://code.jquery.com/jquery.js"></script> -->
	
	
</body>

</html>